__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/
.env
.venv
*.log
*.db
shell/*_service/docker/logs/*
shell/*_service/docker/dev_db/*
!shell/*_service/docker/logs/.gitkeep
!shell/*_service/docker/dev_db/.gitkeep
frontend/
openapi.json
docker/dev/db/
